.Network {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
}

.NetworkShareCount {
  margin-top: 3px;
  font-size: 12px;
}

.NetworkShareButton {
  cursor: pointer;
  &:hover:not(:active) {
    opacity: 0.75;
  }
}
