@value colors: "shared/src/styles/variables.css";
@value defaultGrey, lightGreyColor, veryLightGrey from colors;

.Wrapper {
  border-top: 1px solid veryLightGrey;
  padding-top: 50px;
  min-width: 300px;
  width: 80%;
  margin: 0px auto;
  margin-top: 120px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  line-height: 1.7;
  max-width: 1000px;
}

.FooterComponentCommon {
  margin: 0px 10px 20px 10px;
}

.FooterFirstComponents {
  composes: FooterComponentCommon;

  & .Logo {
    font-weight: bold;
    font-size: 20px;
  }

  width: 300px;
}

.FooterSecondComponents {
  composes: FooterComponentCommon;

  & ul {
    list-style: none;
    & li {
      &:last-child { margin-bottom: 0px; }
    }
  }
}

.FooterThirdComponents {
  composes: FooterComponentCommon;
  max-width: 170px;

  & > p {
    margin-bottom: 15px;
  }

  & ul {
    list-style: none;
    & li {
      float: left;
      margin-right: 20px;
      &:last-child { margin-right: 0px; }

      & span.NetworkSpan {
        border-radius: 50%;
        background: lightGreyColor;
        opacity: 0.5;
        width: 35px;
        height: 35px;
        display: block;
      }
    }
  }
}

.link {
  color: defaultGrey;
}

.NetworkAvatar {
  background-color: rgba(0, 0, 0, 0) !important;
}
