.RichEditorControls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.ToolBox {
  padding-top: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  background: #fff;
  width: 100%;
}

.MediaLinkControlsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
