@value colors: "shared/src/styles/variables.css";
@value lightRed from colors;

.ErrorsList {
  background-color: lightRed;
  color: white;
  padding: 10px;
  margin: 10px 0px;
  width: 100%;
  border-radius: 2px;

  & h6 {
    font-size: 16px;
    text-align: left;
    margin-bottom: 5px;
  }

  & ul {
    margin-left: 30px;

    & li {
      text-align: left;
      margin-bottom: 5px;
    }
  }
}
