@value colors: "shared/src/styles/variables.css";
@value lightPrimary from colors;

.SubHeaderTitle {
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.ContentWrapper {
  composes: ContentWrapper from '../static/styles.css';
}

.SectionHeader {
  composes: SectionHeader from '../static/styles.css';
  text-align: center;
  margin-bottom: 50px;
}
