.PostsIndexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PostsListContainer {
  margin-top: 30px;
  width: 88%;
  padding: 0px 6%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  & .Post {
    &:first-child {
      flex-basis: 80%;
    }

    position: relative;
    margin-bottom: 30px;
    flex-basis: 46%;
  }
}

.SubHeader {
  composes: blue-container from 'shared/src/styles/containers.css';
  color: white;
  padding: 100px 40% 100px 100px;
  text-align: left;
}

.commentCaMarcheButtonWrapper {
  composes: large-padding from 'shared/src/styles/buttons.css';
  composes: transparent-bordered-white from 'shared/src/styles/buttons.css';
  composes: rounded-border-large from 'shared/src/styles/borders.css';
  display: inline-block;
}

.commentCaMarcheButton {
  composes: white-link from 'shared/src/styles/links.css';
}

.SubHeaderTitle {
  margin-bottom: 50px;
  line-height: 1.4;
}
