@value colors: "shared/src/styles/variables.css";
@value lightPrimary, facebookBlue, twitterBlue, googleRed from colors;

.Dialog {
  width: 430px;
}

.DialogContentContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.Signin {
  color: lightPrimary;
  margin-top: 40px;
  margin-bottom: 10px;
}

.SubTitle {
  margin-bottom: 40px;
  text-align: center;
}

.buttonContent {
  margin-left: -15px;
  font-weight: bold;

  & img {
    vertical-align: middle;
    margin-right: 7px;
  }

  & span {
    vertical-align: middle;
  }
}

.FacebookButtonContent {
  composes: buttonContent;
  color: facebookBlue !important;
}

.GoogleButtonContent {
  composes: buttonContent;
  color: googleRed !important;
}

.TwitterButtonContent {
  composes: buttonContent;
  color: twitterBlue !important;
}
