@value colors: "shared/src/styles/variables.css";
@value lightPrimary from colors;

.DialogContentContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.Title {
  color: lightPrimary;
  margin-top: 40px;
  margin-bottom: 10px;
  line-height: 1.5;
  text-align: center;
}

.SubTitle {
  margin-bottom: 40px;
  text-align: center;
  line-height: 1.5;
}

.ShareButtonsContainer {
  margin-bottom: 60px;
  display: flex;
  flex-flow: row wrap;
}
