@value colors: "shared/src/styles/variables.css";
@value lightPrimary from colors;

.SubHeader {
  composes: blue-container from 'shared/src/styles/containers.css';
  composes: white-color from 'shared/src/styles/colors.css';
  text-align: center;
  padding: 70px 90px;

  & .SubHeaderTitle {
    font-weight: bold;
    margin-bottom: 50px;
  }

  & .subHeaderSub {
    max-width: 800px;
    margin: auto;

    & > h4 {
      line-height: 1.5;
    }
  }
}

.ContentWrapper {
  line-height: 1.5;
  width: 70%;
  max-width: 1000px;
  margin: auto;
  font-size: 20px;

  & p {
    margin-bottom: 40px;
    &:last-child { margin-bottom: 0px; }
  }

  & .HeaderText {
    font-weight: bold;
    margin-top: 60px;
    color: lightPrimary;
  }
}

.CommercialBrochure {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 400px;
  margin: 60px auto;

  & > span {
    font-size: 15px;
    margin-bottom: 10px;
  }
}

.FormWrapper {
  max-width: 500px;
  margin: auto;

  & > h4 {
    text-align: center;
    color: lightPrimary;
    margin-bottom: 10px;
  }

  & .DoubleInputWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    & > div {
      flex-grow: 1;
      &:first-child { margin-right: 15px; }
      &:last-child { margin-left: 15px; }
    }
  }

  & .actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-top: 10px;
  }
}
