@value colors: "shared/src/styles/variables.css";
@value lightPrimary, veryLightGrey, defaultGrey from colors;

.Dialog {
  width: 400px;
}

.DialogContentContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.Avatar {
  height: 100px;
  width: 100px;
}

.BottomLinksContainer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;

  & a {
    margin-bottom: 10px;
    &:last-child { margin-bottom: 5px; }
    color: defaultGrey;
  }

  & .DestroyAction {
    &:hover { cursor: pointer; }
    margin-bottom: 10px;
    background: none;
    border: none;
    &:last-child { margin-bottom: 0px; }
    color: defaultGrey !important;

    & span {
      &:first-child { display: none; }
      &:last-child { margin-left: -15px; }
    }
  }
}

.UserName {
  color: lightPrimary;
}

.FullSeperator {
  width: calc(100% + 47px);
  display: block;
  height: 1px;
  margin: 20px -20px;
  background-color: veryLightGrey;
}
