.home {
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -62px;

  > div {
    .background1 {
      padding-left: 16px;
      padding-top: 62px;
      padding-right: 16px;
      background-image: url("https://thumbs.dreamstime.com/b/tache-multicolore-d-%C3%A9claboussure-d-aquarelle-57790142.jpg");
      height: 500px;
      background-size: 95% auto;
      background-position: 0px -85px;
    }

    .seperator {
      box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
      background: none;
      height: 100px;
      /* border: 1px solid #a9a9a9; */
      border-right: 0px;
      border-left: 0px;
      background-color: #e9e9e9;
    }

    .background2 {
      transform: scaleY(-1);
      background-image: url("https://s-media-cache-ak0.pinimg.com/originals/2a/2e/0e/2a2e0eeee080c0b4c2999eac0845fdb4.jpg");
      background-size: 110% auto;
      height: 500px;
      background-position: 0px -540px;
    }

    .background3 {
      transform: scaleY(-1);
      background-image: url('https://thumbs.dreamstime.com/z/tache-color%C3%A9e-d-aquarelle-avec-la-tache-de-peinture-d-aquarelle-57857291.jpg');
      background-size: 79% auto;
      height: 500px;
      background-position: 0px -540px;
    }

    .carrousel {
      height: 500px;
      text-align: center;
      h3 {
        margin-top: 20px;
      }
    }
  }

  .section {
    margin-bottom: 30px;
  }

  .image-placeholder {
    height: 300px;
    width: 100%;
  }
}
