@import 'home';

.presentation-app-bar {
  a {
    color: #444;
  }

  .presentation-app-bar-links {
    margin-bottom: 0px;
    flex: 5 1 0%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    > li {
      margin-right: 30px;
    }
  }
}

.presentation-footer {
  margin: 30px -16px 0 -16px;
  padding: 16px;
  background-color: $brown500;
  color: white;
}
