@value colors: "shared/src/styles/variables.css";
@value lightPrimary, primary from colors;

.SubHeaderTitle {
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  font-size: 4rem;
  margin-bottom: 12vh;
}

.IconsWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;

  & > div {
    margin: auto;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  & h4 {
    font-weight: bold;

    & i {
      margin-bottom: 20px;
      font-size: 45px;
    }
  }
}

.ContentWrapper {
  line-height: 1.5;
  width: 70%;
  max-width: 800px;
  margin: auto;
}

.sectionTitle {
  composes: textMuted from 'shared/src/styles/text.css';
  font-weight: bold;
  margin-bottom: 20px;
}

.section {
  margin-top: 80px;

  & p {
    margin-bottom: 15px;
    &:last-child { margin-bottom: 0px; }
    font-size: 18px !important;

    &.preList {
      margin-bottom: 10px;
    }
  }

  & .subSection {
    margin-bottom: 40px;

    & .subSectionTitle {
      margin-bottom: 15px;
    }
  }

  & ul {
    margin-bottom: 15px;
    margin-left: 30px;
    & li {
      margin-bottom: 10px;
    }
  }
}

.SectionHeader {
  composes: section;
  margin-top: 0px;
  font-style: italic;
  color: lightPrimary;

  & .sectionTitle {
    color: lightPrimary;
  }
}

.link {
  color: primary;
}
