.FormWrapper {
  max-width: 700px;
  margin: auto;

  & .DoubleInputWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 20px;

    & > div {
      flex-grow: 1;
      &:first-child { margin-right: 15px; }
      &:last-child { margin-left: 15px; }
    }
  }
}

.ActionsWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 30px;
}
