.none {
  box-shadow: none !important;
}

.strong-box-shadow {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

.strong-box-shadow-no-top {
  box-shadow: 1px 4px 5px 0 rgba(0, 0, 0, .14), 1px 1px 10px 0 rgba(0, 0, 0, .12), 1px 2px 4px -1px rgba(0, 0, 0, .2);
}
