@value colors: "./variables.css";
@value flykkeYellow from colors;

.DefaultChip {
  color: white;
  & a { color: white; }
}

.notification {
  composes: DefaultChip;
  background-color: flykkeYellow;
  font-weight: bold;
}
