@value colors: "./variables.css";
@value ownCyan, ownWhite from colors;

.white-color { color: white; }
.red-color { color: rgba(255, 0, 0, 1.0); }
.orange-color { color: rgba(255, 127, 0, 1.0); }
.yellow-color { color: rgba(180, 180, 0, 1.0); }
.green-color { color: rgba(0, 180, 0, 1.0); }
.blue-color { color: #5782ff; }
.indigo-color { color: rgba(75, 0, 130, 1.0); }
.violet-color { color: rgba(127, 0, 255, 1.0); }
.cyan { color: ownCyan; }
.white { color: ownWhite; }
