@value colors: "./variables.css";
@value ownWhite, ownBlue, paleYellow from colors;

.blue-container {
  background-color: ownBlue;
}

.light-yellow-background {
  background-color: paleYellow;
}

.white-background {
  background-color: ownWhite;
}

.blue-gradient {
  background: #48a1ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1b85f7, #48a1ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1b85f7, #48a1ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
