@value colors: "./variables.css";
@value defaultTextColor, ownRed, ownGreen, ownOrange, lightGreyColor from colors;

.defaultTextColor {
  color: defaultTextColor;
}

.withLineBreaks {
  white-space: pre-wrap;
}


.alignedLeft {
  text-align: left;
}

.alignedCenter {
  text-align: center;
}

.alignedRight {
  text-align: right;
}

.textMuted {
  color: lightGreyColor;
}

.textDanger {
  color: ownRed;
}

.textSuccess {
  color: ownGreen;
}

.textWarning {
  color: ownOrange;
}

.TextEllipsis {

}
