@value ownWhite: #fff;
@value primary: #303f9f;
@value lightPrimary: #6db0f7;

@value ownRed: #ff0000;
@value lightRed: rgba(ownRed, 0.5);

@value ownOrange: #ff7f00;
@value lightOrange: rgba(ownOrange, 0.5);
@value veryLightOrange: rgba(ownOrange, 0.2);

@value flykkeYellow: #ffd626;
@value ownYellow: #b4b400;
@value lightYellow: rgba(ownYellow, 0.7);

@value ownGreen: #00b400;
@value lightGreen: rgba(ownGreen, 0.5);

@value ownBlue: #5782ff;
@value lightBlue: rgba(ownBlue, 0.5);

@value ownIndigo: #4b0082;

@value ownViolet: #7f00ff;

@value defaultGrey: #666;
@value lightGreyColor: #a0a0a0;
@value veryLightGrey: rgba(0, 0, 0, 0.12);

@value ownCyan: #a9dde6;

@value paleYellow: rgba(180, 180, 0, 0.15);

@value googleRed: #ea4335;
@value facebookBlue: #3d5a98;
@value twitterBlue: #1da1f2;
