.SubHeader {
  composes: blue-gradient from 'shared/src/styles/containers.css';
  color: white;
  min-height: 70vh;
  display: flex;
  margin-bottom: 80px;
}

.SubHeaderSub {
  width: 80vw;
}

.CenteredSubHeader {
  composes: SubHeader;
}

.CenteredSubHeaderSub {
  composes: SubHeaderSub;
  margin: auto;
}

.NormalSubHeader {
  composes: SubHeader;
}

.NormalSubHeaderSub {
  composes: SubHeaderSub;
}
