.StyleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.ActiveFontStyleButton {
  composes: StyleButton;
  color: #5890ff;
}

.ActiveColorButton {
  composes: StyleButton;
  color: #5890ff;
}
