@value colors: "shared/src/styles/variables.css";
@value lightGreyColor from colors;

.appBar {
  composes: defaultTextColor from 'shared/src/styles/text.css';
  box-shadow: none !important;
  background-color: white;
  z-index: 199 !important;

  & a {
    color: lightGreyColor;
  }
}

a.titleLink {
  color: blue;
}

.navigationLeft {
  margin-left: 30px;
  & a {
    margin-right: 30px;
  }
}

.navigationRight {
  margin-left: auto;
  display: flex;
  align-items: center;
}
