.RichEditorRoot {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding-top: 0px;
  position: relative;
  width: 100%;
}

.RichEditorEditor {
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditorBlockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.aligned-left {
  text-align: left;
}

.aligned-center {
  text-align: center;
}

.aligned-right {
  text-align: right;
}

.ButtonsContainer {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin-top: 10px;
}

:global
.public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

:global
.public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

:global
.public-DraftEditor-content {
  min-height: 100px;
}

:global
.public-DraftEditor-PlaceholderRoot {
  display: none;
}
