@value colors: "shared/src/styles/variables.css";
@value ownCyan from colors;

.Wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;

  & .title {
    color: ownCyan;
    font-weight: bold;
  }

  & .Avatar {
    margin-right: 15px;
    height: calc(4 * 12px);
    width: calc(4 * 12px);
  }

  & .description {
    font-size: 15px;
    margin-bottom: 10px;
  }

  & .NetworkAvatar {
    background-color: rgba(0, 0, 0, 0);
  }
}
