@value colors: "shared/src/styles/variables.css";
@value lightPrimary, facebookBlue, twitterBlue, googleRed from colors;

.Dialog {
  width: 400px;
}

.DialogContentContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.Signin {
  color: lightPrimary;
  margin-top: 40px;
  margin-bottom: 10px;
}

.SubTitle {
  margin-bottom: 40px;
  text-align: center;
}
