.PostDescription {
  composes: TextEllipsis from 'shared/src/styles/text.css';
}

.PostActions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: 8px 16px 16px 16px;
}

.DonationsSpan {
  composes: cyan from 'shared/src/styles/colors.css';
  font-size: 20px;
}

.ReadSpan {
  composes: cyan from 'shared/src/styles/colors.css';
  font-size: 20px;
}

.TagFlag {
  composes: blue-container from 'shared/src/styles/containers.css';
  composes: white from 'shared/src/styles/colors.css';
  position: absolute;
  z-index: 1;
  top: 30px;
  left: -20px;
  padding: 8px 25px;
  border-radius: 2px;
}

.title {
  composes: cyan from 'shared/src/styles/colors.css';
}
