@value colors: "shared/src/styles/variables.css";
@value white as ownWhite, greyColor, ownBlue from colors;

.Navigation {
  composes: strong-box-shadow from 'shared/src/styles/boxShadow.css';
  color: greyColor;
  height: 50px;
  margin: 0 auto;
  margin-top: -25px;
  border-radius: 3px;
  background-color: white;
  padding: 17px 20px;

  & a {
    margin-left: 20px;
    cursor: pointer;
    &:first-child { margin-left: 0px; }
    
    &.active {
      color: ownBlue;
    }
  }
}
