<!doctype html>
<html lang="fr">
<head>
  <title>Flykke</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta property='fb:app_id' content=<%= htmlWebpackPlugin.options.__FB_APP_ID__ %>>
</head>
<body>
  <div id="root"></div>
</body>
</html>
