@value colors: "shared/src/styles/variables.css";
@value ownCyan, ownBlue from colors;

.SubHeader {
  background-color: ownBlue;
  color: white;
  padding: 50px 40% 200px 100px;
  text-align: left;
}

.SubHeaderTitle {
  margin: 0 auto 20px auto;
  line-height: 1.4;
}

.PostHeader {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: -30vh;
  padding: 0 30px;
  margin-bottom: 10px;

  & .PostImage {
    min-width: 400px;
    margin-right: 20px;
    padding-top: 50px;
    flex-grow: 5;
    margin-bottom: 20px;
  }
}

.PostDonationsSummary {
  composes: strong-box-shadow from 'shared/src/styles/boxShadow.css';
  background-color: white;
  width: 270px;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;

  & .PostDonationsSummaryTitle {
    color: ownCyan;
    font-weight: bold;
  }

  & .PostDonationsSummaryConversion {
    color: ownCyan;
    margin-bottom: 50px;
  }

  & .PostDonationsSummaryButton {
    text-transform: none;
  }
}

.TextEditorWrapper {
  margin: auto;
  max-width: 700px;
  margin-top: 20px;

  & > div {
    border: none;
  }
}
